.fade-enter {
    transform: translateX(100%);
}

.fade-enter-active {
    transform: translateX(0);
    transition: transform ease-out 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
